<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>About</title>
</head>
<body>
    <main class="row">
        <div class="col-2"></div>
	<div class="col-8 centered">
		<h2 class="centered">About</h2>
		<p>Made with Express. Simply log each meal or snack that you eat, and log each health event that occurs. Our analyze tool will automatically look for any correlations.</p>
		<img src="images/express-icon.svg" style="height: 100px;">
		<div>
			FoodSense 2020
		</div>
		<div class="centered">
			<a href="/home">Homepage</a>
		</div>
	</div>
	<div class="col-2"></div>
    </main>
</body>
</html>