<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Express Home</title>
</head>
<body>
    <main>
        <a href="/about">About</a>
        Home Page!
        <div>
            Calendar goes here!
        </div>
        <a href="new_entry">New entries here!</a>
    </main>
</body>
</html>