<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Express Home</title>
</head>
<body>
    Home Page!
	
    <form action="/home", method="POST">
        <input type="text" name="username"> username
        <input type="text" name="password"> pass
        <input type="text" name="email"> email
        <input type="submit">
    </form>
	<main>
		Calendar goes here!
	</main>
	<a href="">New entries here!</a>
</body>
</html>