<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("./partials/head.ejs"); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    <main class="flex">
	<div class="login_left">
	    <div class="login_left_text_wrapper">
	    	<h1>FoodSens</h1>
		<h3>Track your food triggers here!</h3>
 	    </div>
        </div>
        <div class="login_right">
            <div class="login_wrapper">
                <h1>Login</h1>
                <form method="POST" action="/">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="login_input" autofocus required>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="login_input" required>
                    <input type="submit" class="login_submit" value="Login">
                </form>
		<div class="centered login_register">
	                <a href="/register">Create Account</a>
		</div>
            </div>
            <div class="centered">
                <a href="/about">About</a>
            </div>
	    <div class="centered">FoodSens 2020</div>
        </div>
    </main>
</body>
</html>