<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New entry!</title>
</head>
<body>
    <main>
        Welcome to new entry!
	<div>
		<h2>Reaction!</h2>
		<form action="/new_entry" method="POST">
			<input type="text" name="event_type" id="event_type">
			<label for="event_type">Type of event</label>
			<br>
			<input type="date" name="event_date" id="date">
			<label for="date">Date</label>
			<br>
			<input type="range" name="event_severity" id="event_severity" min="0" max="10">
			<label for="event_severity">Severity</label>
			<br>
			<input type="text" name="tags" id="tags">
			<label for="tags">Tags</label>
			<br>
			<textarea name="description" id="description" style="resize:none;"></textarea>
			<label for="description">description</label>
			<input type="submit">
		</form>
	</div>
	<div>
		<a href="/home">Homepage</a>
	</div>
    </main>
</body>
<script>
function format(date) {
    var d = date.getDate();
    var m = date.getMonth() + 1;
    var y = date.getFullYear();
    return '' + y + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
}

var today = new Date();
var dateString = format(today);
  document.getElementById("date").setAttribute("value", dateString);
</script>
</html>