<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>New entry!</title>
</head>
<body>
    <main>
        Enter a new food/meal!
	<div>
		<h2>Food!</h2>
		<form action="/new_food" method="POST">
			<input type="text" name="food" id="food">
			<label for="food">Food</label>
			<br>
			<input type="date" name="date" id="date">
			<label for="date">Date</label>
			<br>
			<input type="text" name="tags" id="tags">
			<label for="tags">Tags</label>
			<br>
			<textarea name="description" id="description" style="resize:none;"></textarea>
			<label for="description">description</label>
			<input type="submit">
		</form>
	</div>
	<div>
		<a href="/home">Homepage</a>
	</div>
	<div id="default_date" class="hidden">
	<%= default_date %>
	</div>
    </main>
</body>
<script src="entry.js">
</script>
</html>