<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <main class="row">
    <div class="col-2"></div>
    <div class="centered col-8">
        <form method="POST" action="/register" class="register_form">
	    <div class="form-group">
        	<label for="username">Username</label>
            	<input type="text" class="login_input"  name="username" id="username" autofocus>
	    </div>
	    <div class="form-group">
            	<label for="password">Password</label>
	        <input type="password" class="login_input"  name="password" id="password">
            </div>
	    <div class="form-group">
		<label for="email">Email</label>
            	<input type="text" class="login_input" name="email" id="email">
	    </div>
            <input class="login_submit" type="submit" value="Register">
	    </form>
        <a href="/">Home</a>
    </div>
    <div class="col-2"></div>
    </main>
</body>
</html>