<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    Welcome to the node practice place!
    <div>
        <form method="POST" action="/register">
            <input type="text" name="username" id="username">
            <label for="username">Username</label>
            <input type="password" name="password" id="password">
            <label for="password">Password</label>
            <input type="text" name="email" id="email">
            <label for="email">Email</label>
            <input type="submit">
	    </form>
    </div>
    <div>
        <a href="/">Home</a>
    </div>
</body>
</html>