<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
	<main>
		<form action="/settings" method="POST">
			<input type="number" name="dayslookingback" min="0" max="14" id="dayslookingback">
			<label for="dayslookingback">How many days before an event to check for food eaten</label>
			<input type="submit">
		</form>
	</main>
</body>
</html>