* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
}

label {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.centered {
	text-align: center;
}

.align_left {
	text-align: left;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
}


.login_left {
	width: 30%;
	min-height: 100vh;
	background-color: green;
	color: white;
}

.login_left_text_wrapper {
	margin-top: 30%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.login_right {
	max-width: 600px;
	flex-grow: 1;
}

.login_wrapper {
	padding: 40px;
	padding-top: 100px;
}

.login_input {
	display: block;
	padding: 10px 20px;
	width: 100%;
	font-size: 20px;
}

.login_submit {
	display: block;
	width: 50%;
	padding: 10px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-style: solid;
	border-color: black;
	font-size: 20px;
}

.login_register {
	margin-top: 40px;
}

.login_register a {
	color: black;
}

.register_form {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

.home_navbar {
	justify-content: flex-end;
}

.home_dropdown_menu:hover {
	background-color: #ddd;
}

.home_left {
	width: 35%;
}
@media screen and (max-width:750px) {
  .home_left {
	  
  }
}

.home_right {
	max-width: 700px;
}

.calendar_wrapper {
	max-width: 700px ;
	margin: 0 auto;
}

/* modal background */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.4);
}

.modal_content {
	margin: 15% auto;
	padding: 20px;
	width: 50%;
	background-color: white;
}

#analysis_background {
	background-color: lightgrey;
}

#profile_menu {
	position: relative;
	cursor: pointer;
}

#profile_menu:hover {
	background-color: #ddd;
}

#profile_menu:hover #dropdown_gear {
	transform: rotateZ(180deg);
	transition: transform 1s;
}

#profile_dropdown {
	margin: 0.5rem;
	display: none;
	position: absolute;
	right: 0px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

#calendar {
	max-width: 100% ;
}

#homeEventJSONStr {
	display: none;
}